.dropdown-container {
  display: flex;
  justify-content: flex-end;
  position: relative;

  .dropdown-menu {
    position: absolute;
    top: 100%;
    transform: translateX(50%);
    background-color: beige;
    padding: 10px;
    display: flex;
    flex-flow: column;
    gap: 0.7em;
    z-index: 10;
  }
}

.dropdown-control {
  display: flex;
}

.nutrionals-inputs-container {
  display: flex;
  flex-flow: column;
  gap: 0.4em;
}
