//Look recipies there is Fridge

.fridge-header {
  padding-left: 1.2em;
  display: flex;
  align-items: center;
  gap: 50%;

  .header-left {
    display: flex;
    align-items: center;
    gap: 0.7em;
  }

  .fridge-header-icon {
    font-size: 2em;
  }
}

.ing-card {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 1em;
  flex-basis: 20%;
  background-color: var(--fridge-color);
  display: flex;
  flex-flow: column;
  gap: 0.5em;

  & > * {
    pointer-events: none;
  }

  h1 {
    line-height: 90%;
  }
  p {
    max-width: 80%;
    min-width: 10%;
    hyphens: auto;
  }

  [contenteditable="true"] {
    &:focus {
      outline: 1px solid #424949;
      background-color: #d5f0fa;
      border-radius: 5px;
    }
  }

  .btn-delete {
    width: min-content;
    margin-left: auto;
  }

  .btn-quick-add {
    width: min-content;
    background: none;
    border: none;
    border-radius: 50%;

    background-color: #fff;
    font-size: 1.1em;
    position: absolute;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

.ing-meta-data {
  display: flex;
  flex-flow: row wrap;
}

.ing-header {
  display: flex;
  justify-content: flex-end;
}

.drag-over {
  opacity: 0.1;
}

.btn-add-fridge {
  padding: 0.25em 0.7em;
  border-radius: 5px;
  border: none;

  background-color: var(--fridge-color);
  border: 1px solid #333;

  &:hover {
    transform: scale(1.02);
  }
  &:active {
    transform: scale(0.98);
  }
}
