.presentation-container {
  flex-basis: 80%;
  display: flex;
  flex-flow: row nowrap;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: var(--element-bg);
  img {
    border-radius: 5px;
  }
}

.presentation {
  margin: 0 auto;
  display: flex;
  height: min-content;
}
.text-container {
  padding: 20px;
}
