.user-info-container {
  flex-basis: 50%;
  padding: 2em 1.5em;
  border: 1px solid var(--border-color);
  display: flex;
  flex-flow: column;
  gap: 0.5em;

  .data-container {
    display: flex;
    gap: 0.5em;
  }
  p[data="pseudo-body"] {
    font-weight: bold;
  }

  p[data="password-body"] {
    -webkit-text-security: disc;
  }
}

.button-disconect {
  width: fit-content;
  background-color: #d9283a;
  color: #fff;
  border: none;
  padding: 0.3em 0.5em;
  border-radius: 5px;
  font-weight: 700;
  margin-left: auto;
  cursor: pointer;
}

.button-reset {
  background: none;
  border: none;
  margin-left: 2em;
  font-size: 1.1em;
  transition: all 0.3s;

  &:hover {
    transform: rotate(45deg);
  }

  &:active {
    animation: turn 0.5s;
  }
}

@keyframes turn {
  to {
    transform: rotate(405deg);
  }
}
